* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainbox{
    window:940px;
    width:900px;
    background-color: beige;
    box-shadow: 0 0 10px 2px;
    min-height: 700px;
    padding: 20px 20px;
    border-radius: 15px;
}
